<!DOCTYPE html>
<html>
<head>
  <% render "header.html" %>
</head>

<body>

  <% render "nav.html" %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Gradle on Orchard</h1>
    <p>This is a sample Gradle application deployed to Orchard. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Orchard platform.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Orchard platform, head over to the <a href="http://docs.orchard.apple.com/Guides/Java" class="alert-link">Orchard Java Quickstart Guide</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Orchard using git</li>
        <li>When Orchard  received the source code, it grabbed all the dependencies in the pom.xml.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://orchard.apple.com">Orchard</a></li>
        <li><a href="https://docs.orchard.apple.com">Orchard Docs</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Orchard, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>


</body>
</html>
