<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://docs.orchard.apple.com/Introduction"><span class="glyphicon glyphicon-user"></span> Intro to Orchard</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://docs.orchard.apple.com/Guides/Ruby">Getting Started with Ruby</a></li>
            <li><a href="http://docs.orchard.apple.com/Guides/NodeJS">Getting Started with Node</a></li>
            <li><a href="http://docs.orchard.apple.com/Guides/PHP">Getting Started with PHP</a></li>
            <li><a href="http://docs.orchard.apple.com/Guides/Python">Getting Started with Python</a></li>
            <li><a href="http://docs.orchard.apple.com/Guides/Java">Getting Started with Java</a></li>
            <li><a href="http://docs.orchard.apple.com/Guides/Go">Getting Started with Go/Golang</a></li>
            <li><a href="http://docs.orchard.apple.com/Guides/Scala">Getting Started with Scala</a></li>
            <li class="divider"></li>
            <li><a href="http://docs.orchard.apple.com/CLI">Getting Started with Orchard CLI</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://docs.orchard.apple.com"><span class="glyphicon glyphicon-book"></span> Orchard Docs</a>
      </li>
    </ul>
  </div>
</nav>
